<%- include("partials/header"); -%>
    <p>Title: <%= title %>
    </p>
    <% if (description) { %>
        <p>Description: <%= description%>
        </p>
        <% } %>
            <form action="/notes/<%= id %>/delete" method="post">
                <button class="btn btn-danger badge badge-pill">Delete note</button>
            </form>
            <hr>
            <% let i=0; %>
                <h4>To-Dos</h4>
                <% if (todos.length> 0) { %>
                    <% for(t of todos) { %>
                        <div class="form-check">
                            <input class="form-check-input todo-complete-check" type="checkbox" value=""
                                id="check<%=i%>" <% if(t.todoCompleted){ %> checked <% } %>>
                                <label
                                    class="form-check-label <%if (t.todoCompleted){%> text-decoration-line-through text-secondary <% } %>"
                                    for="check<%=i%>" id="checkLabel<%=i%>">
                                    <%= t.todoText %> |
                                        <span <% if(!t.todoCompleted && t.todoDue.getTime() < new Date().getTime()) { %>
                                            class="text-danger"<% } %>> Due: <%= t.todoDue.toDateString() %>
                                                    <% if(!t.todoCompleted && t.todoDue.getTime() < new
                                                        Date().getTime()) { %>
                                                        <i class="bi bi-exclamation-triangle text-danger"></i>
                                                        <% } %>
                                        </span>
                                        <form style="display:inline-block;" action="/notes/<%= id %>/deleteTodo/<%=i%>"
                                            method="post" class="deleteTodoBtn">
                                            <button type="submit" class="btn btn-danger badge badge-pill">Delete
                                                todo</button>
                                        </form>
                                </label>
                        </div>
                        <% i++; %>
                            <% } %>
                                <% } %>
                                    <button type="button" class="btn btn-success mt-1 mb-2 badge badge-pill"
                                        id="addTodoBtn">+</button>


                                    <form action="/notes/<%= id %>/addTodos" method="post" id="addTodosForm">
                                        <div class="form-group">
                                            <div id="todoInputList"></div>
                                            <button type="submit" class="btn btn-primary badge badge-pill"
                                                id="sendTodosBtn">Update To-Dos</button>
                                        </div>
                                    </form>

                                    <script>
                                        const checks = document.querySelectorAll(".todo-complete-check");
                                        if (checks) {
                                            for (let i = 0; i < checks.length; i++) {
                                                let check = checks[i];
                                                check.addEventListener("change", function () {
                                                    const correspondingLabel = this.nextElementSibling;
                                                    correspondingLabel.classList.toggle("text-decoration-line-through");
                                                    correspondingLabel.classList.toggle("text-secondary");
                                                    fetch(`/notes/<%=id%>/toggleTodo/${i}`, {
                                                        method: "POST",
                                                        body: JSON.stringify({
                                                            check: this.checked
                                                        }),
                                                        headers: {
                                                            "Content-type": "application/json; charset=UTF-8"
                                                        }
                                                    });
                                                });
                                            }
                                        }
                                    </script>
                                    <%- include("partials/footer"); -%>